html
    head
        title Poseidon App

        block styles

    body
        div Navbar here

        #app-content
            block content

        script(src="js/foo.js" type="text/javascript")
        block scripts
